@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
}

body {
    background-color: #e4e1d5;
    color: #3D3231;
    height: auto;
}

.grid {
    background-color: #3D3231;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.3;
    z-index: -10;
}
.grid1 {
    left: 25%;
}
.grid2 {
    left: 50%;
}
.grid3 {
    left: 75%;
}

/*header*/
header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo{
    font-weight: 100;
    font-size: 30px;
}
header button {
    border: none;
    background-color: #3D3231;
    color: #e4e1d5;
    padding: 10px 20px;
    cursor: pointer;
}
/*main section*/
.main {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*--------------*/
.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.social a {
    text-decoration: none;
}
.social img {
    width: 20px;
    height: fit-content;
}
/*--------------*/
.main .img {
    height: 90%;
    width: 400px;
    border-radius: 400px;
    overflow: hidden;
}
.main .img img {
    width: 100%;
    height: auto;
}
/*----------------*/
.info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info h1 {
    text-align: center;
    font-size: 100px;
    letter-spacing: 5px;
    font-weight: 100;
}
.info h1 span {
    color: #CA9B5D;
}
.info p {
    font-size: 30px;
    font-weight: 100;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}
/*----------------*/
footer {
    width: 100%;
    height: 150px;
    border-top: 2px solid #3D3231;
    border-bottom: 2px solid #3D3231;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer section {
    width: 50%;
    height: 80%;
    border-left: 2px solid #3D3231;
    border-right: 2px solid #3D3231;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer section .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer section .skill img {
    width: 50px;
    height: fit-content;
    margin-bottom: 5px;
}

/*projects*/
.layer1 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: #CA9B5D;
    transition: .5s ease-out;
    transition-delay: .2s;
    display: none;
}
.layer2 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: #3D3231;
    transition: .5s ease-out;
    display: none;
}
.projects {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    background-color: #3D3231;
    transition: .5s ease-out;
    transition-delay: .4s;
    padding-top: 120px;
    overflow-y: scroll;
    display: none;
}

.projects .close {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.projects .close img {
    width: 100%;
    height: fit-content;
}

.project {
    border:2px solid #e4e1d5;
    color: #e4e1d5;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin: 20px 0;
}
.project .img {
    height: 90%;
    width: 50%;
    overflow: hidden;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.project .img img {
    width: 100%;
    height: fit-content;
    transition: .5s ease-out;
}
.project .img img:hover {
    transform: scale(2);
}

.project h3 {
    margin: 20px 0;
    border-left: 2px solid #e4e1d5;
    padding-left: 20px;
    font-size: 30px;
}
.project p {
    margin: 20px 0;
    font-size: 20px;
}
.project a {
    text-decoration: none;
}
.project .links {
    display: flex;
}
.project a img {
    width: 30px;
    margin: 0 20px;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 1300px) {
    .main .img {
        width: 300px;
        height: 80%;
    }
    .info h1{
        font-size: 80px;
    }
  }

@media screen and (max-width: 1070px) {
    .main .img{
        width: 200px;
        height: 50%;   
    }
    .info h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
    }
    .main .social {
        flex-direction: row;
        height: auto;
        margin: 20px;
    }
    .main .social img {
        margin: 0 20px;
    }

    .main .img{
        width: 150px;
        border-radius: 0%;
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
    }
    .info h1 {
        font-size: 35px;
        margin: 20px 0;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .info p {
        width: 100%;
    }
    footer {
        height: 100px;
    }
    footer section .skill {
        font-size: 10px;
    }
    footer section .skill img {
        width: 30px;
    }
    .project {
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project .projectinfo  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project .projectinfo h3 {
        font-size: 25px;
    }
    .project .projectinfo p {
        text-align: center;
    }
}
