/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,500;1,1000&display=swap');

@font-face {
    font-family: queensides;
    src: url("./assets/fonts/Queensides-3z7Ey.ttf") format('truetype');
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #dfdfdf;
}
img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
/* Loading */
.loading {
    z-index: 99999;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.loading .top {
    width: 100%;
    height: 45%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    z-index: 99;
    -webkit-transition: top 1s ease-out;
    -o-transition: top 1s ease-out;
    transition: top 1s ease-out;
}
.loading .top2 {
    width: 50%;
    height: 45%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 2px solid black;
    -webkit-transition: top 1s ease-out;
    -o-transition: top 1s ease-out;
    transition: top 1s ease-out;
}
.loading .right {
    width: 45%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid black;
    z-index: 99;
    -webkit-transition: right 1s ease-out;
    -o-transition: right 1s ease-out;
    transition: right 1s ease-out;
}
.loading .bottom {
    width: 100%;
    height: 45%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 2px solid black;
    z-index: 99;
    -webkit-transition: bottom 1s ease-out;
    -o-transition: bottom 1s ease-out;
    transition: bottom 1s ease-out;
}
.loading .left {
    width: 45%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid black;
    z-index: 99;
    -webkit-transition: left 1s ease-out;
    -o-transition: left 1s ease-out;
    transition: left 1s ease-out;
}
/* Main */
.main {
    height: 100vh;
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: white;
}
.main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px;
    color: black;
}
.main header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.main header ul li {
    margin: 0 10px;
}
.main header ul li a {
    text-decoration: none;
}
.main header ul li a img {
    width: 20px;
}
.main h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    font-weight: 400;
    color: black;
}
.main h1 div {
    color: black;
    font-weight: bolder;
}
.main p {
    font-size: 40px;
    padding: 30px 50px;
    text-align: center;
    font-weight: 500;
    color: #2e2e2e;
}
.main .skills {
    padding: 50px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
}
.main .skills img {
    width: 50px;
}
/* Projets */
.projects {
    height: 100vh;
    width: 45%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.project {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}
.project .img {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.project .img img {
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.project h3 {
    text-align: center;
    margin: 5px 0;
}
.project  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px;
}
.project .info a {
    text-decoration: none;
    margin-left: 10px;
}
.project .info a img {
    width: 20px;
}
.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: .9;
    z-index: 999;
    display: none;
}
.previewImg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
    z-index: 9999;
} 


/* media queries */
@media only screen and (max-width: 1400px) {
    body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .main {
        width: 100%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 5%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .projects {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin: 20px 0;
    }
    .project {
        margin: 10px 0;
    }
}
@media only screen and (max-width: 768px) {
    .main {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .main h1 {
        font-size: 40px;
    }
    .main p {
        font-size: 30px;
    }
}
